---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

body {
    cursor: default;
}
div.portfolio.item {
    border-top:1px solid #777;
    border-radius: 8px;
    margin-top: 18px;
    padding: 12px;
    background: linear-gradient(to bottom,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 20%);
}
div.portfolio.item:hover {
    border-top:1px solid #007;
    background: linear-gradient(to bottom,  rgba(0,91,119,0.05) 0%,rgba(0,91,119,0.05) 1%,rgba(0,91,119,0) 20%);
}
#portfolio-entries ul li {
    margin: 0;
    margin-left: -16px;
}
h2.section {
    text-align: left;
    color: #333;
    padding: 16px;
    margin: 0;
    /*margin-top: 64px;*/
}

.label2 {
    background: #eee;
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: bold;
    color: #888;
    margin: 0 4px 4px 0;
    font-size: 10.0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.10);
}
.label2 {
    cursor: pointer;
    white-space: nowrap;
}
.label2:hover { color: black; }
.label2.filterResults { background: #f70; color: #fff; }

.label-programming-language { background: #eeeeee; color: #888888; }
.label-database             { background: #ffeeee; color: #aa8888; }
.label-frameworks           { background: #f4d3ff; color: #8800b5; }
.label-programs             { background: #ffd7b4; color: #c45c00; }
.label-version_control      { background: #eeffee; color: #88aa88; }
.label-tools                { background: #fadca6; color: #aa9671; }
.label-language             { background: #eeeeff; color: #8888aa; }
.label-methodology          { background: #ffeeff; color: #aa88aa; }
.label-field                { background: #eeffff; color: #88aaaa; }
.label-hide                 { background: #ffd7b4; color: #c45c00; }
.label-unknown              { background: red    ; color: #aa9671; }

body {
    background:url('/img/background.jpg') no-repeat fixed #e6e6e6;
    background-color:#e6e6e6 !important;
}
div.wrapper {
    background: white;
}