---
layout: default
---

<header class="site-header">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img src="/img/cbv_logo.svg" style="width:32px;height:32px;drop-shadow:2px 2px 2px white;margin-top:-7px;" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        {% for idx in (0..0) %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-tags"></i> {% case idx %}
                {% when 0 %}Tags
                {% when 1 %}More tags
                {% when 2 %}Even more tags
            {% endcase %}

           <span class="caret"></span></a>
            <ul class="dropdown-menu" style="min-width:400px;padding:8px;max-height:80vh;overflow-x:hidden;overflow-y:auto;">
            {% for type_info in site.data.portfoliotagstypes %}
                <li class="dropdown-header" style="padding:0;padding-bottom:18px;font-size:1.2em;"><i class="{{ type_info.icon }}"></i> {{ type_info.title }}</li>

                <li style="padding-bottom:18px;">
                {% assign type_info_id=type_info.id %}

                {% assign expr="item[0].type=='" | append: type_info_id | append: "'" %}

                {% assign filteredtags = site.data.portfoliotags | where_exp: "item", expr %}

                {% for itag in filteredtags %}
                    {% assign expr="item.tags contains '" | append: itag[0].id | append: "'" %}
                    {% assign items=site.posts | where_exp: "item", expr %}
                    {% assign count = items | size %}
                    {% assign tagid=itag[0].id %}{% include tag.html tag=tagid count=count %}
                    {% assign count = "" %}
                {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}


      </ul>
      <form class="navbar-form navbar-left" role="search" onsubmit="return false;">
        <div class="form-group">
        <label for="search-input" style="position:relative;left:28px;"><i class="fa fa-search"></i></label>
        <input type="search" id="search" name="search" class="form-control" placeholder="Search" autofocus style="padding-left:32px;border-radius:32px;" /><span id="search_results"></span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for section in site.data.portfoliosections %}
            <li><a href="#section-container-{{ section.id }}"><i class="{{ section.icon }}"></i> {{ section.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-plus"></i> More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://blog.cballesterosvelasco.es/" target="_blank"><i class="fa fa-wordpress"></i> Blog (spanish)</a></li>
            <li><a href="http://kotlin.es/" target="_blank"><i class="fa fa-wordpress"></i> Kotlin.es (spanish)</a></li>
            <li><a href="http://old.cballesterosvelasco.es/" target="_blank"><i class="fa fa-level-down"></i> Old portfolio</a></li>
            <li><a href='{{ "/feed.xml" | prepend: site.baseurl }}' target="_blank"><i class="fa fa-rss"></i> RSS</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-question-circle"></i> Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="mailto:soywiz@gmail.com" target="_blank"><i class="fa fa-envelope"></i> soywiz@gmail.com</a></li>
            <li><a href="http://es.linkedin.com/in/cballesterosvelasco" target="_blank"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://github.com/soywiz/" target="_blank"><i class="fa fa-github"></i> Github</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.youtube.com/user/cballesterosvelasco" target="_blank"><i class="fa fa-youtube-play"></i> Youtube</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://twitter.com/cballesterosvel" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/cballesteros777" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
            <li><a href="https://plus.google.com/100263353369850005475/about" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
          </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#aboutModal"><i class="glyphicon glyphicon-info-sign"></i> Site</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutModalLabel"><i class="glyphicon glyphicon-info-sign"></i> About Carlos Ballesteros Velasco portfolio</h4>
      </div>
      <div class="modal-body">
            <div>This page has custom-made using:</div>
            <h4>Frontend:</h4>
            <ul>
                <li><a href="https://www.w3.org/TR/html5/" target="_blank">HTML5</a> (layout)</li>
                <li><a href="https://www.w3.org/Style/CSS/current-work.en.html" target="_blank">CSS3</a> (styles)</li>
                <li><a href="http://www.ecma-international.org/ecma-262/5.1/" target="_blank">JavaScript ES5</a> (filtering)</li>
                <li><a href="http://getbootstrap.com/" tatget="_blank">Bootstrap</a> (layout + styles)</li>
                <li><a href="https://jquery.com/" tatget="_blank">jQuery</a> (filtering and animating)</li>
                <li><a href="http://underscorejs.org/" tatget="_blank">Underscore</a> (functional programming)</li>
                <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> (some more icons)</li>
            </ul>
            <h4>Backend:</h4>
            <ul>
                <li><a href="http://jekyllrb.com/" target="_blank">Jekyll</a> (static cms)</li>
                <li><a href="github.com/" target="_blank">Github</a> (hosting)</li>
            </ul>
            <div>You can see the sources and git history <a href="https://github.com/cballesterosvelasco/cballesterosvelasco.es" target="_blank">here at github</a>.</div>
          </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div style="padding-top:64px;"></div>

  <div class="wrapper">

  <div class="hide-on-filtering">
    <h1>Carlos Ballesteros Velasco</h1>



<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="margin-left:0;">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-male"></i> About me</a></li>
    <li role="presentation"><a href="#manifesto" aria-controls="manifesto" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-paperclip"></i> Manifesto</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="padding:22px 0 0 0;">
    <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">
            <div class="col-xs-12 col-md-5" style="text-align:center;">
                <img src="img/face.jpg" style="width:240px;height:240px;border:2px solid black;box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 6px;margin-bottom:16px;" />
            </div>
            <div class="col-xs-12 col-md-7">
                <p>I'm a developer born in Valencia (Spain), <span id="age">32</span> years old.</p>

                <p>
                  Since I was pretty young I have been very passionated about programming, technology and videogames,
                  I started specializing myself in web development including front and back (and I have been working on lots of different stuff since I was 14).
                  I have lots of experience in other fields.
                </p>

                <p>I have lived most of my life here at Valencia, I was a year in Barcelona and a few months in Granada. Right now I'm living at Valencia.</p>

                <p>
                  Due to personal circumstances I can't move to another country or city, though I can do business and sync travels.
                  So I will consider only Remote or Valencia-based offers.
                </p>

              </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="manifesto">
        <p>
            I can adapt myself when required to work
            as people work in my job's place.
        </p>

        <p>
            On my own projects or whenever I can choose.
            I usually start creating fast spikes without
            being too picky about them.
        </p>

        <p>
            So I try to provide value and feedback for myself and for the product itself
            as fast as possible without have to take too many decisions.
        </p>

        <p>
            Then I iterate the product transforming that spike into a real product.
            Or discarding that spike when neccesary but not always.
        </p>

        <p>
            In each iteration I try to improve the product where providing most value,
            taking into account due dates, milestones and technical debt.
        </p>
        <p>
            I usually have a pragmatic and realistic point of view.
        </p>
        <p>
            I love to work with passion, with talent and pushing the limits
            of what's possible.
        </p>
    </div>
  </div>

</div>



</div>
  </div>

</header>

<div class="home">

  <style type="text/css">
    .section.section-header {
      cursor: pointer;
    }
    .navbar-inverse {
      background-color: rgba(0,0,0,0.8);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  </style>

<div id="portfolio-entries">
  {% for section in site.data.portfoliosections %}
    <div id="section-container-{{ section.id }}" class="section-container" data-sectionid="{{ section.id }}" data-sectionname="{{ section.title }}">
    <h2 name="{{ section.id }}" data-toggle="collapse" data-target="#section-{{ section.id }}" class="section section-header"><i class="{{ section.icon }}"></i> {{ section.title }}</h2>
    <div id="section-{{ section.id }}" aria-expanded="true" class="collapse in">
    {% assign expr = "item.categories contains '" | append: section.id | append: "'" %}
    {% assign categoryposts = site.posts | where_exp: "item", expr %}
    {% for post in categoryposts %}
        <div class="row portfolio item">
            <div class="col-xs-12 col-md-4" style="text-align:center;">
                <div>
                {% if post.from %}
                    {% assign datefrom = post.from %}
                    {% assign dateuntil = post.date %}
                {% else %}
                    {% assign datefrom = post.date %}
                    {% assign dateuntil = post.until %}
                {% endif %}
                {% case post.datetype %}
                    {% when "none" %}
                    {% assign date_from_text = "" %}
                    {% assign date_until_text = "" %}
                    {% when "season" %}
                        {% assign month = datefrom | date: "%m" | round %}
                        {% capture date_from_text %}
                        {{ datefrom | date: "%Y" }}
                        {% case month %}
                            {% when 12 or  1 or  2 %}Winter
                            {% when  3 or  4 or  5 %}Spring
                            {% when  6 or  7 or  8 %}Summer
                            {% when  9 or 10 or 11 %}Autumn
                            {% else %}Error
                        {% endcase %}
                        {% endcapture %}
                    {% when "year" %}
                    {% assign date_from_text = datefrom | date: "%Y" %}
                    {% assign date_until_text = dateuntil | date: "%Y" %}
                    {% else %}
                    {% assign date_from_text = datefrom | date: "%b %Y" %}
                    {% assign date_until_text = dateuntil | date: "%b %Y" %}
                {% endcase %}
                    {% if date_from_text %}
                        <span class="post-meta">{{ date_from_text }}</span>
                        {% if dateuntil %}
                        - <span class="post-meta">{{ date_until_text }}</span>
                        {% endif %}
                    {% endif %}
                </div>
                {% if post.icon %}
                <div><img src="img/icons/{{ post.icon }}" style="width:50%;height:auto;" /></div>
                {% endif %}
                {% if post.notitle %}
                    {% assign post_title = "" %}
                {% else %}
                    {% assign post_title = post.title %}
                {% endif %}
                <div>
                  {{ post_title }}
                  {% if post.links %}
                    <sup>
                      {% for link in post.links %}<a href="{{ link }}" target="_blank">[{{ forloop.index }}]</a> {% endfor %}
                    </sup>
                  {% endif %}
                </div>
                {% if post.proficency %}
                <div>({{ post.proficency }})</div>
                {% endif %}
                {% if post.map %}
                {% for map in post.map %}
                <div><a href="https://www.google.es/maps/place/{{ map }}" target="_blank"><i class="fa fa-map-marker"></i> {{ map }}</a></div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ post.content }}
                {% for tag in post.tags %}{% include tag.html tag=tag %}{% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
  {% endfor %}
</div>

<div style="position:fixed;right:16px;top:64px;display:none;" class="show-on-filtering">
<span style="font-size:1.2em;" class="label2 label-hide" id="remove_filtering"><i class="glyphicon glyphicon-remove-circle"></i> Remove filtering (<span id="filtercount"></span>)</span>
</div>

<div style="display:none;" class="show-on-empty-filtering">
<h2 style="color:red;"><i class="fa fa-exclamation-triangle"></i> Nothing to show!</h2>
</div>


    <script type="text/javascript" src="/lib/cballesterosvelasco.js"></script>
</div>
