---
layout: default
---

<div class="home">

    <style type="text/css">
        body {
            cursor: default;
        }
        div.portfolio.item {
            border-top:1px solid #777;
            border-radius: 8px;
            margin-top: 18px;
            padding: 12px;
            background: linear-gradient(to bottom,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 20%);
        }
        div.portfolio.item:hover {
            border-top:1px solid #007;
            background: linear-gradient(to bottom,  rgba(0,91,119,0.05) 0%,rgba(0,91,119,0.05) 1%,rgba(0,91,119,0) 20%);
        }
        ul li {
            margin: 0;
            margin-left: -16px;
        }
        h2.section {
            text-align: left;
            color: #333;
            padding: 16px;
            margin: 0;
            margin-top: 64px;
        }

        .label2 {
            background: #eee;
            border-radius: 3px;
            padding: 3px 5px;
            font-weight: bold;
            color: #888;
            margin: 0 4px 4px 0;
            font-size: 10.0px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
            box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.10);
        }
        .label2 { cursor: pointer; }
        .label2:hover { color: black; }
        .label2.filterResults { background: #f70; color: #fff; }

        .label-programming-language { background: #eeeeee; color: #888888; }
        .label-database             { background: #ffeeee; color: #aa8888; }
        .label-frameworks           { background: #f4d3ff; color: #8800b5; }
        .label-programs             { background: #ffd7b4; color: #c45c00; }
        .label-version_control      { background: #eeffee; color: #88aa88; }
        .label-tools                { background: #fadca6; color: #aa9671; }
        .label-language             { background: #eeeeff; color: #8888aa; }
        .label-methodology          { background: #ffeeff; color: #aa88aa; }
        .label-field                { background: #eeffff; color: #88aaaa; }
        .label-unknown              { background: red    ; color: #aa9671; }
    </style>

    {% for itag in site.data.portfoliotags %}
        {% assign count = 0 %}
        {% capture dummy %}
            {% for post in site.posts %}
                {% if post.tags contains itag[0] %}
                    {% assign count = count|plus:1 %}
                {% endif %}
            {% endfor %}
        {% endcapture %}
        {% assign tag2 = itag[0] %}
        {% include tag.html tag=tag2 count=count %}
    {% endfor %}
    {% assign count = "" %}

  {% for section in site.data.portfoliosections %}
    <h2 name="{{ section.id }}" class="section">{{ section.title }}</h2>
    {% for post in site.posts %}
      {% if post.categories contains section.id %}
        <div class="row portfolio item">
            <div class="col-xs-12 col-md-4" style="text-align:center;">
                <div>
                {% if post.from %}
                    {% assign datefrom = post.from %}
                    {% assign dateuntil = post.date %}
                {% else %}
                    {% assign datefrom = post.date %}
                    {% assign dateuntil = post.until %}
                {% endif %}
                {% case post.datetype %}
                    {% when "none" %}
                    {% assign date_from_text = "" %}
                    {% assign date_until_text = "" %}
                    {% when "season" %}
                        {% assign month = datefrom | date: "%m" | round %}
                        {% capture date_from_text %}
                        {{ datefrom | date: "%Y" }}
                        {% case month %}
                            {% when 12 or  1 or  2 %}Winter
                            {% when  3 or  4 or  5 %}Spring
                            {% when  6 or  7 or  8 %}Summer
                            {% when  9 or 10 or 11 %}Autumn
                            {% else %}Error
                        {% endcase %}
                        {% endcapture %}
                    {% when "year" %}
                    {% assign date_from_text = datefrom | date: "%Y" %}
                    {% assign date_until_text = dateuntil | date: "%Y" %}
                    {% else %}
                    {% assign date_from_text = datefrom | date: "%b %Y" %}
                    {% assign date_until_text = dateuntil | date: "%b %Y" %}
                {% endcase %}
                    {% if date_from_text %}
                        <span class="post-meta">{{ date_from_text }}</span>
                        {% if dateuntil %}
                        - <span class="post-meta">{{ date_until_text }}</span>
                        {% endif %}
                    {% endif %}
                </div>
                {% if post.icon %}
                <div><img src="img/icons/{{ post.icon }}" /></div>
                {% endif %}
                {% if post.notitle %}
                    {% assign post_title = "" %}
                {% else %}
                    {% assign post_title = post.title %}
                {% endif %}
                {% if post_title %}
                <div>{{ post_title }}</div>
                {% endif %}
                {% if post.proficency %}
                <div>({{ post.proficency }})</div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-8">
                {{ post.content }}
                {% for tag in post.tags %}
                    {% include tag.html tag=tag %}
                {% endfor %}
            </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %} 


  <p class="rss-subscribe">subscribe <a href='{{ "/feed.xml" | prepend: site.baseurl }}'>via RSS</a></p>

</div>
