---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {% for section in site.data.portfoliosections %}
    <h2 name="{{ section.id }}">{{ section.title }}</h2>
    {% for post in site.posts %}
      {% if post.categories contains section.id %}
        <div style="border-top:1px solid black;">
          {% if post.icon %}
          <img src="img/icons/{{ post.icon }}" />
          {% endif %}
            {% case post.datetype %}
            {% when "none" %}
            {% when "season" %}
                <span class="post-meta">{{ post.date | date: "%Y" }} -
                {% assign month = post.date | date: "%m" | round %}
                {% case month %}
                {% when 1 or 2 or 3 %}
                Season1
                {% when 4 or 5 or 6 %}
                Season2
                {% when 7 or 8 or 9 %}
                Season3
                {% when 10 or 11 or 12 %}
                Season4
                {% else %}
                Error
                {% endcase %}
                </span>
            {% when "year" %}
            <span class="post-meta">{{ post.date | date: "%Y" }}</span> -
            <span class="post-meta">{{ post.until | date: "%Y" }}</span>
            {% else %}
            <span class="post-meta">{{ post.date | date: "%b %Y" }}</span> -
            <span class="post-meta">{{ post.until | date: "%b %Y" }}</span>
            {% endcase %}
          {{ post.content }}
          {% for tag in post.tags %}
          <span>{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %} 


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
