<header class="site-header">

  <div class="wrapper">

    <h1>Carlos Ballesteros Velasco</h1>

    <h2 style="color:red;">Estoy en reformas: <a href="http://old.cballesterosvelasco.es/">versón antigua de la web</a></h2>

    <div style="clear:both;">
      <img src="img/face.jpg" style="width:217px;height:240px;border:2px solid black;box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 6px;margin:0 8px;float:left;" />

      <p>Soy un programador nacido en Valencia (España) de 29 años de edad.</p>

      <p>He vivido la mayor parte de mi vida en Valencia, estuve un año en Barcelona y unos meses en Granada. Actualmente vivo en Valencia.</p>

      <p>Desde pequeño me han apasionado la programación y los videojuegos, y aunque me especialicé en páginas web (y llevo trabajando con ellas desde los 14 años) también tengo bastante experiencia en otros ámbitos.</p>

      <p>Visita mi blog profesional: <a href="http://blog.cballesterosvelasco.es/">blog.cballesterosvelasco.es</a></p>

      <p>Contacta conmigo: 
        <a href="mailto:cballesterosvelasco@gmail.com">cballesterosvelasco@gmail.com</a>,
        <a href="http://es.linkedin.com/in/cballesterosvelasco">Linkedin</a>,
        <a href="http://www.youtube.com/user/cballesterosvelasco">Youtube</a>,
        <a href="http://twitter.com/cballesterosvel">Twitter</a>,
        <a href="https://www.facebook.com/cballesteros777">Facebook</a>,
        <a href="https://plus.google.com/100263353369850005475/about">Google+</a>,
        <a href="https://github.com/soywiz/">Github</a>
      </p>
    </div>

  </div>

</header>
