
<header class="site-header">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <label for="search-input" style="position:relative;left:28px;"><i class="fa fa-search"></i></label>
        <input type="search" id="search" name="search" class="form-control" placeholder="Search" autofocus style="padding-left:32px;border-radius:32px;" /><span id="search_results"></span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-question-circle"></i> Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="mailto:soywiz@gmail.com" target="_blank"><i class="fa fa-envelope"></i> cballesterosvelasco@gmail.com</a></li>
            <li><a href="http://es.linkedin.com/in/cballesterosvelasco" target="_blank"><i class="fa fa-linkedin-square"></i> Linkedin</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.youtube.com/user/cballesterosvelasco" target="_blank"><i class="fa fa-youtube-play"></i> Youtube</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://twitter.com/cballesterosvel" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/cballesteros777" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
            <li><a href="https://plus.google.com/100263353369850005475/about" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://github.com/soywiz/" target="_blank"><i class="fa fa-github"></i> Github</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="wrapper">

  <div class="hide-on-filtering">
    <h1>Carlos Ballesteros Velasco</h1>

    <h2 style="color:red;">I'm updating my portfolio: <a href="http://old.cballesterosvelasco.es/">old version</a></h2>

    <div style="clear:both;">
      <img src="img/face.jpg" style="width:217px;height:240px;border:2px solid black;box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 6px;margin:0 8px;float:left;" />

      <p>I'm a developer born in Valencia (Spain), 29 years old.</p>

      <p>I have lived most of my life here at Valencia, I was a year in Barcelona and a few months in Granada. Right now I'm living at Valencia.</p>

      <p>
        Since I was pretty young I was very passionated about programming and videogames,
        I started specializing myself in web development including front and back (and I have been working since I was 14)
        I have lots of experience in other fields.
      </p>

      <p>You can visit my professional blog (spanish): <a href="http://blog.cballesterosvelasco.es/">blog.cballesterosvelasco.es</a></p>

      <p>You can contact me:
        ,
        ,
        ,
      </p>
    </div>
    <div style="clear:both;"></div>

</div>
  </div>

</header>
