<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <style type="text/css">
    /*
    #page-container {
      margin: 0 auto;
      max-width: 640px;
    }
    @media (max-width: 640px) {
      #page-container {
        max-width: 100%;
      }
    }
    */
  </style>

  <div id="page-container">
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </div>

  </body>

</html>
